.codeblock-label {
  display: block;
  background-color: #f8f8f8;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 0 -10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ddd;
}